{% extends './components/layout.html' %}

{% block head %}
{% endblock %}

{% block content %}

<div class="container-fluid">
    <h3>Choose opponent</h3>
    <div class="row justify-content-center">
        <form method="POST" action="{{ url_for('user.battle') }}">
{% for x in ulist %}
            <input type="hidden" name="user-catch" value="{{x}}" />
            <input type="submit" value="{{x}}" name="catch-btn" />
{% endfor %}
          </form>
    </div>
</div>
{% endblock %}

{% block content2 %}
{% endblock %}

{% block content3 %}
{% endblock %}