{% extends './components/layout.html' %}

{% block content %}
<h1>User Hompage</h1>
{% endblock %}


{% block content2 %}
<div class="container-fluid">
  <div class="row justify-content-md-center">
    <div class="card1" style="width: 18rem;">
      <img src="../../static/images/9-mega.png" class="card-img-top" alt="pikachu placeholder image">
      <div class="card-body">
        <h5 class="card-title">Find Poke to catch!</h5>
      </div>
      <div class="card-body">
        <form method="POST">
          {{ fpform.poke.label }}
          {{ fpform.poke(class='form-control', placeholder='Enter Poke name')}}
          {{ fpform.submit(class='btn btn-danger') }}
        </form>
      </div>
    </div>


    {% for x in dex.pokemon %}
    <div class="card2" style="width: 18rem;">
      <img src="{{dex.pokemon[x].sprite}}" class="card-img-top" alt="{{dex.pokemon[x].name}} image">
      <div class="card-body">
        <h5 class="card-title">{{dex.pokemon[x].name.title()}}</h5>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item"><b>Height-</b> {{dex.pokemon[x].height}}</li>
        <li class="list-group-item"><b>Weight-</b> {{dex.pokemon[x].weight}}</li>
        <li class="list-group-item"><b>HP-</b> {{dex.pokemon[x].hp}}</li>
        <li class="list-group-item"><b>Attack-</b> {{dex.pokemon[x].att}}</li>
        <li class="list-group-item"><b>Defense-</b> {{dex.pokemon[x].defense}}</li>
        <li class="list-group-item"><b>Speed-</b> {{dex.pokemon[x].speed}}</li>
      </ul>
      <div class="card-body">
        {% if dex.pokemon[x].user != None %}
        <h6>Caught by-<strong>{{dex.pokemon[x].user}}</strong></h6>
        {% elif not dex.pokemon[x].user %}
        <form method="POST" action="{{ url_for('user.userHome') }}">
          <input type="hidden" name="name-catch" value="{{dex.pokemon[x].name}}" />
          <input type="submit" value="catch" name="catch-btn" />
        </form>
        {% endif %}
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}

{% block content3 %}
<div class="container">
  <div class="row justify-content-center">
    <h2><strong>{{current_user.username}}'s Roster:</strong></h2>
  </div>
  <div class="row justify-content-center">
    {% for x in mydex.pokemon %}
    <div class="card2" style="width: 18rem;">
      <img src="{{mydex.pokemon[x].sprite}}" class="card-img-top" alt="{{mydex.pokemon[x].name}} image">
      <div class="card-body">
        <h5 class="card-title">{{mydex.pokemon[x].name.title()}}</h5>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item"><b>Height-</b> {{mydex.pokemon[x].height}}</li>
        <li class="list-group-item"><b>Weight-</b> {{mydex.pokemon[x].weight}}</li>
        <li class="list-group-item"><b>HP-</b> {{mydex.pokemon[x].hp}}</li>
        <li class="list-group-item"><b>Attack-</b> {{mydex.pokemon[x].att}}</li>
        <li class="list-group-item"><b>Defense-</b> {{mydex.pokemon[x].defense}}</li>
        <li class="list-group-item"><b>Speed-</b> {{mydex.pokemon[x].speed}}</li>
      </ul>
      <div class="card-body">
        <form method="POST" action="{{ url_for('user.userHome') }}">
          <input type="hidden" name="name-release" value="{{mydex.pokemon[x].name}}"/>
          <input type="submit" value="release" name="release-btn"/>
        </form>
      </div>
    </div>
    {% endfor %}

  </div>
</div>
  {% endblock %}