{% extends './components/layout.html' %}

{% block head %}
<link rel="stylesheet" href="../static/css/index.css">
{% endblock %}

{% block content %}
<div class="container">
    <img id="poke-banner" src="../static/images/poke_banner.png" class="img-fluid">
</div>

{% endblock %}

{% block content2 %}


<div class="container">
    <div class="row justify-content-center">
        <h3>The first rule of Poke-Battle is that you don't talk about Poke-Battle. . .</h3>
    </div>
    <div class="row justify-content-center">
        {% for x in randex.pokemon %}
        <div id="card" class="card m-3 border-5 border-danger" style="width: 14rem;">
            <img src="{{randex.pokemon[x].sprite}}" class="card-img-top rounded-circle mt-1" alt="poke image">
            <div class="card-body">
                <p class="card-text"><b>{{randex.pokemon[x].name.title()}}</b> {{ funp.pop()}}</p>
            </div>
        </div>
        {% endfor %}
    </div>
</div>


{% endblock %}

{% block content3 %}

{% endblock %}